@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap"rel="stylesheet");

:root {
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

.text-title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.text-main {
  color: var(--primaryColor);
}
body {
  font-family: "Lato", sans-serif !important;
  background: var(--mainGrey) !important;
}
